<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmers' Ecommerce</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/admin.css">
</head>
<body ng-app="farmApp" ng-controller="farmCtrl">
    <header>
        <h1>Agri-connect</h1>
        <h3>Admin Portal</h3>
        <p>Nurturing Nature, Empowering Farmers</p>
    </header>
    <nav>
        <a ng-click="navigate('home')">Home</a>
        <a ng-click="navigate('addSubsidy')">Add Subsidy</a>
        <a ng-click="navigate('userList')">User List</a>
    </nav>

    <!-- /* homepage content */ -->

    <div class="container">
        <div ng-show="currentPage === 'home'">
            <h2>Welcome to KrushiVal</h2>
            
            <p>Empowering Farmers and Connecting Consumers</p>
        </div>
    </div>

    <div ng-show="currentPage === 'addSubsidy'">
    <h2>Add New Subsidy</h2>
    <div class="form-container">
        <label>Name:</label>
        <input type="text" ng-model="newSubsidy.name">

        <label>Amount:</label>
        <input type="text" ng-model="newSubsidy.amount">

        <label>Description:</label>
        <textarea ng-model="newSubsidy.description"></textarea>

        <label>Eligibility:</label>
        <textarea ng-model="newSubsidy.eligibility"></textarea>

        <label>Category:</label>
        <input type="text" ng-model="newSubsidy.category">

        <label>Required Documents:</label>
        <textarea ng-model="newSubsidy.documents"></textarea>

        <label>More Info / Application Link:</label>
        <input type="text" ng-model="newSubsidy.link">

        <button ng-click="addSubsidy()">Submit</button>
    </div>
</div>



<div ng-show="currentPage === 'userList'" class="user-list-section">
    <h2>All Users & Farmers</h2>
    <div class="table-container">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Created At</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in allUsers">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.created_at }}</td>
                    <td>
                        <button class="suspend-btn" ng-click="deleteUser(user.id)">Suspend</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<script>
angular.module('farmApp', [])
.controller('farmCtrl', ['$scope', '$http', function($scope, $http) {
    $scope.currentPage = 'home';

    $scope.navigate = function(page) {
        $scope.currentPage = page;
        if (page === 'userList') {
            $scope.fetchAllUsers();
        }
    };

    $scope.newSubsidy = {};

$scope.addSubsidy = function () {
    $http.post('../backendprocess/add_subsidy.php', $scope.newSubsidy)
        .then(function (response) {
            alert(response.data.message);
            $scope.newSubsidy = {}; // clear form
        });
};


    $scope.allUsers = [];
    $scope.fetchAllUsers = function() {
        $http.get('../backendprocess/get_all_users.php')
            .then(function(response) {
                $scope.allUsers = response.data.users;
            });
    };
}])
</script>